p{
	margin:0px;
}

input{
  margin:0;
}

*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

html, body{
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0px;
}

#index_container{
  width:100%;
  height:auto;
  background-image: url('images/index_background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
}

header{
  height:60px;
  width:100%;
  background-color:black;
}

#logo{
  width:25%;
  height:auto;
  float:left;
  position: relative;
  top:7px;
  left:50px;
}

#logoText{
  height:auto;
}

#logo img {
  margin: 0 auto;
  width:80%
}

nav{
  float: right;
  color:white;
  width:70%;
  height:60px;
  margin:0px;
}

#navUl {
  margin:0;
  padding: 0px;
  height:100%;
  display: flex;
  justify-content: center;
}

.navItem{
  float:left;
  text-decoration:none;
  list-style:none;
  width:200px;
  height:25px;
  font-size:24px;
  text-align: center;
  border-radius: 20px;
  color:white;
  margin-top: 2.5px;
  padding: 13px 0px;

}

.navItem:hover{
  color:black;
  background-color:white;
  transition: ease-in-out 400ms;
  border-radius: 20px;
  height: fit-content;
}


.navItem a{ color:white;}

.navItem:hover > a{
  color:black;
  transition: ease-in-out 500ms;
}

.navSubUl {
  display:none;
  list-style-type: none;
  padding:1px;
}

.navItem:hover > .navSubUl{
  display: inline;
}

.navSubItem:first-child{
  margin-top: 20px;
}

.navSubItem{
  float:none;
  list-style-type: none;
  margin-top:10px;
  font-size: 20px;
}

.navSubItem a{
  text-decoration: none;
  margin-top:10px;
}

#formDiv{
  height:1250px;
  width: 200px;
  float:left;
  margin-top:50px;
  margin-left:11%;
  padding:0;
}

#reset{
  margin: 5px auto;
  width:120px;
  height:50px;
  font-size:20px;
  padding:0;
  background-color:#4ec0d4;
}

#formDiv > form > ul {
  width: 215px;
  padding:0;    
  margin:0;
}

form{
  margin:0;
}

.searchText{
  font-size: 26px;
  margin-top:30px;
  text-align:center;
}

.checkBox{
  width:250px;
}

.checkBox > input{
  float:left;
  margin-right:10px;
  margin-top: 3px;
}

.checkBox > p {
  margin-left:10px;
  font-size: 18px;
}

#backButton{
  width:120px;
  height:50px;
  font-size:20px;
  padding:0;
  background-color:#4ec0d4;
}

#applyButton {
  margin: 10px auto;
  width:120px;
  height:50px;
  font-size:20px;
  padding:0;
  background-color:#4ec0d4;
}

#content{
  width:55%;
  height:auto;
  margin-top: 75px;
  margin-right:8%;
  background-image: url('images/index_background.jpg');
}

#index_content{
  height:500px;
  width: 50%;
  background-color: white;
  opacity: 0.90;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius:20px;
}

#noMatch{
  width:100%;
}

.attractionBox {
  margin: 25px 0px;
  height:200px;
	display:flex;
	align-items: center;
  position: relative;
  left:0px;
}

.attractionInfo{
  float:left;
  width:48%;
}

.attractionName{ 
  margin:0;
  font-size: 25px;
  color:black;
}

.attractionImgDiv{
  float:right;
  width:48%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attractionImg{
  max-height: 70%;
  max-width: 100%;
}


#map {
  height: 100%;
}