<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
		<meta name="keywords" content="HTML,CSS,JavaScript">
		<meta name="author" content="Daniel Tomov">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>View Attractions in Virginia Beach</title>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='favicon.ico') }}"/>
  </head>
  <body>
    <div id="container">
      <header>
        <div id ="logo">
          <img src="https://www.virginia.org/includes/public/assets/shared/logos/vifl-logo.svg" alt="logo">
        </div>

        <nav>
          <ul id="navUl">
            <li class="navItem"><a href="">Places to Visit</a></li>
            <li class="navItem"><a href="">Things to do</a></li>
            <li class="navItem"><a href="">Events</a></li>
            <li class="navItem"><a href="">Places to Stay</a></li>
            <li class="navItem"><a href="">Deals</a></li>
          </ul>
        </nav>

      </header>
      <main>
        <div id="formDiv">
        <form action="#" method="post">
          <ul>
            <li><p class="searchText">Filter your search by:</p><li>
            <li><p class="searchText">Type of Attraction</p><li>
            {% for fil in filters %}
              <li><div class="checkBox">
              <input type="checkbox" name="{{fil}}" {{ checkBoxes[filters.index(fil)] }}><p>{{fil}}</p>
              </div></li>
            {% endfor %}
            
            <li><p class="searchText">Provinces</p><li>
              {% for prov in provinceList %}
              <li><div class="checkBox">
              <input type="radio" name="provinceSelector" value="{{prov}}" {{ checkBoxes[provinceList.index(prov) + filters|length] }}><p>{{prov}}</p>
            </div></li>
            {% endfor %}
            <li><button id ="applyButton" type="submit" name="button" value="search">Apply Filters</button></li>
          </ul>
        </form>
        <button id="reset" onclick="reset()">Reset Filters</button>
        </div>
        <div id="content">
          {% if attraction|length == 0 %}
            <div class="attractionBox">
              <div id="noMatch">
                <p class="attractionName">There were no matches for your criteria</p>
            </div>
          {% endif %}
          {% for record in attraction %}
            <div class="attractionBox">
              <div class="attractionInfo">
                <p class="attractionName">{{record[4]}}</p>
                <p class="attractionAddr">Address: {{record[0]}}</p>
                <p>Website: <a class="attractionWeb" href="{{record[1]}}">{{record[1]}}</a></p>
                <p class="attractionTags">Tags: {{record[2]}}</p>
              </div>
              <div class="attractionImgDiv">
                <img class="attractionImg" src="{{record[3]}}" alt="{{record[4]}}">
              </div>
            </div>
          {% endfor %}
          <p class="attractionName">Attractions on this page: {{ attraction|length }}
        </div>
      </main>
    </div>
  </body>
    <script>
      function reset(){
        var elements = document.getElementsByClassName("checkBox");
        for (i = 0; i < elements.length; i++){
          elements[i].firstElementChild.checked = false;
        }
      }
    </script>
</html>